<!-- Main navigation in the header section, you can use header tag can directly use nav tag -->
<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-red shadow">
        <div class="container-fluid">
            <a class="navbar-brand fs-1 fw-bolder text-white" href="#">Helvetica<span class="text-main fs-1 fw-bolder">.</span></a>
            <div class="d-flex">
                <a target="_blank" href="https://twitter.com/helveticalatam" class="btn btn-outline-light btn-sm me-1"><i class="fa-brands fa-twitter"></i></a>
                <div class="btn-group w-100">
                    <button type="button" class="btn btn-outline-light dropdown-toggle btn-sm me-2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-earth-americas"></i>
        </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="/" class="dropdown-item" type="button"><img class="rounded-4" src="https://www.countryflagicons.com/FLAT/32/US.png"> English</a>
                        </li>
                        <li>
                            <a href="/es" class="dropdown-item" type="button"><img class="rounded-4" src="https://www.countryflagicons.com/FLAT/32/ES.png"> Español</a>
                        </li>
                        <li>
                            <a href="/pt" class="dropdown-item" type="button"><img class="rounded-4" src="https://www.countryflagicons.com/FLAT/32/BR.png"> Português</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>