<!-- main item of the page will start with main tag, this tag doesn't include aside or sidebar elements. -->
<main>
    <!-- article tag gives signal to search engine about the main article. -->
    <article class="bg-red row p-3 align-items-center vh-100">
        <div class="col mt-3 mb-3">
            <header class="p-5">
                <!-- <p class="fs-1 fw-bold text-white m-0" href="#">Helvetica<span class="text-main fs-1 fw-bold">.</span></p> -->
                <p class="text-white fs-2 fw-light m-0">We build<br><span class="bg-white p-1 text-red fw-bold">strong brands</span><br>for <span class="fw-bold">strong</span> customers</p>
            </header>
            <!-- Add media, content etc -->
        </div>
    </article>
    <article class="p-4">
        <div class="container bg-light rounded-5 shadow-sm">
            <div class="row row-cols-1 row-cols-md-2 align-items-center text-main">
                <div class="col p-3 p-md-5 text-center">
                    <span class="stronger fs-1">💼</span>
                </div>
                <div class="col p-3 p-md-5">
                    <p class="fw-lighter"><strong class="bg-red fw-bold p-1 text-white">Helvetica<span class="text-main">.</span></strong> Is a Salvadoran based design and technology studio with special skills about packaging design and print prepress and a complementary briefcase
                        of skills like web design a software development.</p>
                    <a href="#" class="btn bg-main btn-primary text-white"><i class="fa-brands fa-twitter"></i> Get in touch</a>
                </div>
            </div>
        </div>
    </article>


    <article class="container">
        <p class="fs-2 text-center text-main mt-3">🔥 Our Skills</p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 p-2 mb-3 text-main">

            <div class="col">
                <div class="card">
                    <div class="card-header vh-5 align-items-center">
                        <p class="stronger text-center">🛸</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title fs-4 fw-light">Branding</p>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="card-header vh-5 align-items-center">
                        <p class="stronger text-center">🧃</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title fs-4 fw-light">Packaging Design</p>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="card-header vh-5 align-items-center">
                        <p class="stronger text-center">👩‍💻</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title fs-4 fw-light">Web Design</p>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="card-header vh-5 align-items-center">
                        <p class="stronger text-center">🧰</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title fs-4 fw-light">Print Prepress</p>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="card-header vh-5 align-items-center">
                        <p class="stronger text-center">📱</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title fs-4 fw-light">Social Networks</p>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="card-header vh-5 align-items-center">
                        <p class="stronger text-center">👾</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title fs-4 fw-light">Software Development</p>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>


    </article>


    <article class="bg-red p-3">
        <p class="fs-2 text-center text-white">🎯 Our Projects</p>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 p-4 mb-3 text-main">


                <div class="col">
                    <div class="card">
                        <div class="card-body vh-5 align-items-center text-center p-5">
                            <img src="/img/colorafy-logo.svg" alt="" class="w-100">
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <div class="card-body vh-5 align-items-center text-center p-5">
                            <img src="/img/imprenlinea-logo.svg" alt="" class="w-100">
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <div class="card-body vh-5 align-items-center text-center p-5">
                            <img src="/img/mezti-logo.svg" alt="" class="w-100">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </article>
</main>
<!-- aside will start just after main element, this tag use for sidebar elements. -->
<aside>
    <!-- sidebar element goes here -->
</aside>